/* ==============================
   Laptop (992px)
============================== */

@media (max-width: 992px) {

    /* Navbar */

    .nav-menu{
        position:fixed;
        top:85px;
        right:-100%;
        width:280px;
        height:100vh;
        background:#0b1120;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding-top:50px;
        gap:30px;
        transition:.4s ease;
    }

    .nav-menu.active{
        right:0;
    }

    .menu-toggle{
        display:block;
    }

    .nav-btn{
        display:none;
    }

    /* Hero */

.hero{
    padding:120px 20px 70px;
    min-height:auto;
}

.hero-content{
    display:flex;
    flex-direction:column-reverse;
    align-items:center;
    text-align:center;
    gap:40px;
}

.hero-left{
    width:100%;
}

.hero-left h1{
    font-size:52px;
}

.hero-left h2{
    font-size:28px;
}

.hero-left p{
    max-width:650px;
    margin:20px auto;
}

.hero-buttons{
    justify-content:center;
}

.hero-social{
    justify-content:center;
}

.hero-right{
    width:100%;
    display:flex;
    justify-content:center;
}

.hero-right img{
    width:100%;
    max-width:420px;
    height:auto;
    display:block;
}

.tech-card{
    display:none;
}
}

/* ==============================
   Tablet (768px)
============================== */

@media (max-width:768px){

.hero-left h1{
    font-size:42px;
}

.hero-left h2{
    font-size:24px;
}

.hero-left p{
    font-size:16px;
    max-width:320px;
}

.hero-right img{
    width:280px;
}

.hero-buttons{
    flex-direction:column;
    align-items:center;
    gap:15px;
}

.hero-buttons .btn{
    width:min(220px,100%);
}

}

/* ==============================
   Mobile (576px)
============================== */

@media (max-width:576px){

.hero{
    padding-top:110px;
}

.hero-left h1{
    font-size:34px;
}

.hero-left h2{
    font-size:20px;
}

.hero-left p{
    font-size:15px;
}

.hero-right img{
    width:220px;
}

}

/*==================================
    ABOUT RESPONSIVE
==================================*/

@media(max-width:992px){

    .about-content{

        grid-template-columns:1fr;

        text-align:center;

        gap:50px;

    }

    .about-image img{

        max-width:340px;

    }

}

@media(max-width:768px){

    .about-info{

        grid-template-columns:1fr;

    }

    .section-title h2{

        font-size:36px;

    }

    .about-text h3{

        font-size:30px;

    }

}

/*==================================
    SKILLS RESPONSIVE
==================================*/

@media(max-width:768px){

    .skills-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:480px){

    .skills-grid{

        grid-template-columns:1fr;

    }

}

/*==================================
    EXPERIENCE RESPONSIVE
==================================*/

@media(max-width:768px){

    .experience-card{

        flex-direction:column;

        text-align:center;

        align-items:center;

    }

}

/*==================================
      PROJECT RESPONSIVE
==================================*/

@media(max-width:992px){

    .featured-project{

        grid-template-columns:1fr;

    }

}

@media(max-width:768px){

    .project-grid{

        grid-template-columns:1fr;

    }

    .project-buttons{

        flex-direction:column;

    }

}

/*==================================
      CERTIFICATE RESPONSIVE
==================================*/

@media(max-width:768px){

    .certificate-grid{

        grid-template-columns:1fr;

    }

}

/*==================================
      CONTACT RESPONSIVE
==================================*/

@media(max-width:992px){

.contact-wrapper{

grid-template-columns:1fr;

}

}

/*==================================
      EDUCATION RESPONSIVE
==================================*/

@media(max-width:992px){

    .education-wrapper{

        grid-template-columns:1fr;

    }

}

@media(max-width:576px){

    .achievement-grid{

        grid-template-columns:1fr;

    }

}

/*==================================
      FOOTER RESPONSIVE
==================================*/

@media(max-width:992px){

    .footer-content{

        grid-template-columns:1fr 1fr;

    }
    .theme-toggle{

    margin-left:auto;
    margin-right:15px;

}

.project-card,
.certificate-card,
.featured-project{

transform:none !important;

}

}

@media(max-width:576px){

    .footer-content{

        grid-template-columns:1fr;

        text-align:center;

    }

    .footer-social{

        justify-content:center;

    }

    .footer-bottom{

        flex-direction:column;

        text-align:center;

    }

}

@media(max-width:768px){

.section-title h2{

font-size:34px;

}

.about-image img{

    width:260px;
    height:260px;

}

}

/* ==============================
   Small Mobile (320px)
============================== */

@media (max-width:320px){

.hero{
    padding:100px 15px 50px;
}

.hero-left h1{
    font-size:30px;
}

.hero-left h2{
    font-size:18px;
}

.hero-left p{
    font-size:14px;
    line-height:1.8;
}

.hero-right img{
    max-width:180px;
}

.hero-buttons .btn{
    width:100%;
}

}

@media (max-width:576px){

.container{

    padding:0 15px;

}

}

@media (max-width:576px){

.orb1,
.orb2{

width:180px;
height:180px;

}

.orb3,
.orb4{

width:120px;
height:120px;

}

}

@media(max-width:768px){

#cursor-glow{

display:none;

}

}

@media(max-width:768px){

.cursor-dot,
.cursor-outline{

display:none;

}

}
